<?xml version="1.0" ?>
<config>
    <modules>
        <PAV_Insurances>
            <version>1.0.0</version>
        </PAV_Insurances>
    </modules>
    <global>
        <models>
            <insurances>
                <class>PAV_Insurances_Model</class>
            </insurances>
        </models>
        <resources>
            <insurances_setup>
                <setup>
                    <module>PAV_Insurances</module>
                </setup>
            </insurances_setup>
        </resources>
        <blocks>
            <insurances>
                <class>PAV_Insurances_Block</class>
            </insurances>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>PAV_Insurances_Block_Adminhtml_Sales_Order</sales_order_totals>
                    <sales_order_invoice_totals>PAV_Insurances_Block_Adminhtml_Sales_Invoice</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>PAV_Insurances_Block_Adminhtml_Sales_Creditmemo</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <insurances>
                <class>PAV_Insurances_Helper</class>
            </insurances>
        </helpers>
        <sales>
            <quote>
                <totals>
                    <insurance>
                        <class>PAV_Insurances_Model_QuoteAddressTotal</class>
                        <after>subtotal</after>
                    </insurance>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <insurance>
                        <class>PAV_Insurances_Model_OrderInvoiceTotal</class>
                        <after>subtotal</after>
                    </insurance>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <insurance>
                        <class>PAV_Insurances_Model_OrderCreditmemoTotal</class>
                        <after>subtotal</after>
                    </insurance>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <shipping_insurance>
                    <to_order>*</to_order>
                    <to_invoice>*</to_invoice>
                </shipping_insurance>
                <base_shipping_insurance>
                    <to_order>*</to_order>
                    <to_invoice>*</to_invoice>
                </base_shipping_insurance>
            </sales_convert_quote_address>
        </fieldsets>
    </global>
    <default>
        <insurances>
            <settings>
                <enabled>0</enabled>
                <type>0</type>
            </settings>
        </insurances>
    </default>
</config>
